.announcement-banner {
    padding: $spacing-large;

    height: 400px;

    background-color: $color-light;
    color: $color-on-light;
    //border: 1px solid $color-dark;
    border-radius: $border-radius-normal;
    position: relative;
    overflow: hidden;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}
