nav {
    padding: 1rem;

    width: 100%;
    height: $sizing-navigation-height;

    display: flex;
    flex-direction: row;

    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid $color-primary;
    background-color: $color-dark;
    color: $color-light;

    z-index: 9999999;

    ul {
        width: 300px;
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
        li {
            margin: 0 1rem;

            a {
                text-decoration: none;
                color: inherit;
            }

            &.active {
                color: $color-primary !important;
            }
        }
    }

    span {
        margin: 0 1rem;
        font-weight: bolder;
        font-size: 25px;
    }

    &.scrolled {
        //box-shadow: 0 0 10px 1px $color-dark;
    }
}