nav {
    padding: $spacing-normal;

    width: 100%;
    height: $sizing-navigation-height;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    border-bottom: 2px solid $color-primary;
    background-color: $color-dark;
    color: $color-light;

    z-index: 9999999;

    ul {
        padding: 0;

        width: 300px;

        display: flex;
        flex-direction: row;
        align-items: center;

        list-style: none;

        li {
            padding: 0 $spacing-small;

            font-weight: $font-weight-normal;
            font-size: $font-size-h6;

            a {
                text-decoration: none;
                color: inherit;
            }

            &.active {
                color: $color-primary !important;
            }
        }
    }

    span {
        padding: 0 $spacing-normal;
        font-weight: $font-weight-black;
        font-size: $font-size-h1;
    }

    &.scrolled {
        //box-shadow: 0 0 15px 1px $color-background;
    }
}