*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Erode', serif;
    font-weight: 600;
    margin: 0;
}

body, #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    background-color: $color-background;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: $spacing-normal;

    width: 100%;
    max-width: $sizing-default-width;

    position: relative;
    flex-grow: 1;

    &.nav-space {
        margin-top: $sizing-navigation-height;
    }
}